@model generalStore.Models.Customer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    generalStore.Models.ViewModels.ChangePasswordViewModel changePassword = new generalStore.Models.ViewModels.ChangePasswordViewModel();
}

<div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Account information
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
@*                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full Name | @Model.FullName</li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                </ul>*@
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FullName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Avatar)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Avatar)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Location)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Location.LocationId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.District)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.District)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ward)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ward)
                        </dd>   
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Change password
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
                @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a href="/logout" class="collapsed card-link">
                Logout
            </a>
        </div>

    </div>

</div>