@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<generalStore.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0">Danh sách sản phẩm : Page @CurrentPage</h4>
            <select id="txtCatID" name="txtCatID" asp-items="@ViewBag.DanhMuc" style="width:25%; padding: 8px; margin:8px" class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                <option selected>Chọn loại sản phẩm</option>
                <option value="0" >Chọn tất cả</option>
            </select>
            <form class="d-none d-md-flex ms-4">
                <input id="keyword" name="keyword" class="form-control border-0" type="search" placeholder="Tìm kiếm">
            </form>
            <a style="padding: 8px" class="btn btn-sm btn-primary" asp-action="Create">Thêm mới sản phẩm</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Loại sản phẩm</th>
                        <th scope="col">Màu sản phẩm</th>
                        <th scope="col">Kích cỡ sản phẩm</th>
                        <th scope="col">Giá sản phẩm</th>
                        <th scope="col">Tồn kho</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>#@item.ProductId</td>
                                <td><img width="80" height="80" src="~/images/products/@item.ProductPhoto" alt="@item.Title" /></td>
                                <td>@item.ProductName</td>
                                <td>
                                    <p>@item.Category.CategoryName</p>
                                    @if (item.IsTrandy)
                                    {
                                        <p>Trandy</p>
                                    }
                                    else
                                    {
                                        <p>Arrived</p>
                                    }
                                </td>
                                <td>@item.Color.ColorName</td>
                                <td>@item.Size.SizeName</td>
                                <td>@item.ProductPrice.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.UnitsInStock</td>
                                <td>
                                    @if(item.UnitsInStock > 0)
                                    {
                                            <h6>In Stock</h6>

                                    }
                                    else
                                    {
                                            <h6>Out Stock</h6>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Detail</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option')
                    .removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");

                $.ajax({
                    url: "AdminProducts/Filtter",
                    type: "GET",
                    datatype: "JSON",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert("Error");
                    }
                });
            });

            $("#keyword").keyup(function(){
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: "/Admin/Search/FindProduct",
                    type: "POST",
                    datatype: "JSON",
                    data: {
                        keyword: strkeyword
                    },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })
        });
    </script>
}

