@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<generalStore.Models.Page>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h4 class="mb-0">Danh sách sản phẩm : Page @CurrentPage</h4>           
            <a style="padding: 8px" class="btn btn-sm btn-primary" asp-action="Create">Thêm Page mới</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Page Name</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>#@item.PageId</td>
                                <td><a href="/Page/@item.Alias">@item.PageName</a></td>
                                <td>
                                    @if (item.Published)
                                    {
                                        <h6>Public</h6>

                                    }
                                    else
                                    {
                                        <h6>Private</h6>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.PageId">Edit</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.PageId">Detail</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminPages" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

