@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<generalStore.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="mb-0">Danh sách khách hàng : Page @CurrentPage</h3>
            <select id="" name=""  style="width:25%" class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                <option value="0" selected>Chọn quyền truy cập</option>
            </select>
            <a asp-action="Create">Create New Account</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Họ và Tên</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerId</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Addres</td>                          
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.CustomerId">Detail</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                               </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"/>
                </ul>
            </div>           
        </div>
    </div>
</div>

