@model IEnumerable<generalStore.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">

        <div class="d-flex align-items-center justify-content-between mb-4">
            <h3 class="mb-0">Quản lí tài khoản</h3>
            <select id="" name="" asp-items="@ViewBag.QuyenTruyCap" style="width:25%" class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                <option value="0" selected>Chọn quyền truy cập</option>
                <b>@ViewBag.QuyenTruyCap</b>
            </select>
            <select id="idstatus" name="idstatus" asp-items="@ViewBag.lsTrangThai" style="width:25%" class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                <option value="" selected>Chọn trạng thái</option>
            </select>
            <a asp-action="Create">Create New Account</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Id</th>
                        <th scope="col">Họ và tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Lần cuối đăng nhập</th>
                        <th scope="col">Quyền truy cập</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AccountId</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.LastLogin</td>
                                <td>@item.Role.RoleName</td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <h6>Active</h6>
                                    }
                                    else
                                    {
                                        <h6>Block</h6>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.AccountId">Detail</a>
                                    <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
